html {
    font-size: 16px;
    
}
body {
    margin: 0;
    color: #707070;
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
}

/* Typography */

h1 {
    font-size: 3.375rem;
    margin: 0;
    color: #143774;
}

.subtitle .navigation {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

p {
    color: #1792D2;
}

nav ul a {
    color: #707070;
}

header {
    background-color: #F8F8F8;
    font-family: 'Lora', serif;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* Layout */
.site-title {
    text-align: center;
    
}

.table {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.horizontal-list li {
    margin: 0 1em;
}

/* Links */
.horizontal-list li a {
    text-decoration: unset;
}

.horizontal-list li a:hover {
    text-decoration: underline;
    font-weight: 700;
}